<div class="col-md-6">
  <%= form_for(@trip) do |trip| %>

      <% if @trip.errors.any? %>
          <div class="alert alert-danger">
            <h2>Uložení země se nezdařilo:</h2>

            <ul>
              <% @trip.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= trip.label :from_airport_id, content_tag(:b, 'Odkud'), :class => 'control-label' %>
        <%= grouped_collection_select(:trip, :from_airport_id, State.all, :airports, :name, :id, :name, {}, {:class => 'form-control'}) %>
      </div>

      <div class="form-group">
        <% trip.label :departure, content_tag(:b, 'Čas odletu'), :class => 'control-label'%>
        <div class='input-group date' id="datetimepicker1">
          <%= trip.text_field :departure, :class => 'form-control' %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>

      <div class="form-group">
        <%= trip.label :to_airport_id, content_tag(:b, 'Kam'), :class => 'control-label' %>
        <%= grouped_collection_select(:trip, :to_airport_id, State.all, :airports, :name, :id, :name, {}, {:class => 'form-control'}) %>
      </div>

      <div class="form-group">
        <% trip.label :arrival, content_tag(:b, 'Čas příletu'), :class => 'control-label'%>
        <div class='input-group date' id="datetimepicker2">
          <%= trip.text_field :arrival, :class => 'form-control' %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>

      <div class="form-group">
        <%= trip.label :airplane_id, content_tag(:b, 'Letadlo'), :class => 'control-label' %>
        <%= collection_select(:trip, :airplane_id, Airplane.all, :id, :name, {}, {:class => 'form-control'}) %>
      </div>


      <div class="form-group">
        <%= trip.label :base_price, content_tag(:b, 'Cena letu'), :class => 'control-label' %>
        <%= trip.text_field :base_price, :class => 'form-control' %>
      </div>


      <div class="form-group">
        <%= trip.submit 'Odeslat', class: 'btn btn-medium btn-primary' %>
      </div>
  <% end %>
  <script type="text/javascript">
      $(function () {
          $('#datetimepicker1').datetimepicker({
              language: 'cs'
          });
          $('#datetimepicker2').datetimepicker({
              language: 'cs'
          });
      });
  </script>
</div>