<div class="col-md-6 col-md-offset-3 well">
  <h2><small>Z</small> <%= trip.from.name %> <small>Do</small> <%= trip.to.name %></h2>
  <ul class="list-unstyled">
    <li>Odlet: <%= content_tag(:b,trip.departure.strftime('%e.%m.%Y %H:%M')) %> <%= trip.from.name %></li>
    <li>Přílet: <%= content_tag(:b,trip.arrival.strftime('%e.%m.%Y %H:%M')) %> <%= trip.to.name %></li>
    <li>Doba letu: <%= trip.duration %></li>
    <li>Letadlo: <%= trip.airplane.name %></li>
    <li>Cena: <%= trip.base_price %> Kč</li>
    <li>Počet volných míst: <%= trip.free_tickets %></li>
  </ul>

  <% if current_user %>
      <%= form_for(:ticket, :url => {controller: 'tickets', action: 'create'}) do |ticket| %>
          <%= hidden_field :ticket, :trip_id, :value => trip.id %>
          <%= hidden_field :ticket, :user_id, :value => current_user.id %>
          <div class="form-group">
            <%= ticket.label :airplane_class_id, content_tag(:b, 'Třída'), :class => 'control-label' %>
            <%= collection_select(:ticket, :class_id, trip.airplane.airplane_classes, :id, :get_title, {}, {:class => 'form-control'}) %>
          </div>
          <div class="form-group">
            <%= ticket.submit 'Koupit', class: 'btn btn-medium btn-primary' %>
          </div>
      <% end %>
  <% end %>
</div>