<div class="page-header">
  <h1>Seznam všech letů</h1>
</div>

<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th>Odkud</th>
    <th>Kam</th>
    <th>Čas odletu</th>
    <th>Čas příletu</th>
    <th>Počet míst</th>
    <th>Počet volných míst</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @trips.each do |trip| %>
      <tr>
        <td><%= link_to trip.from.name, trip.from %></td>
        <td><%= link_to trip.to.name, trip.to %></td>
        <td><%= trip.departure.strftime('%e.%m.%Y %H:%M') %></td>
        <td><%= trip.arrival.strftime('%e.%m.%Y %H:%M') %></td>
        <td><%= trip.airplane.count_seats %></td>
        <td><%= trip.free_tickets %></td>
        <td><%= link_to 'Smazat', trip_path(trip), :method => :delete,
                        :confirm => 'Opravdu chcete smazat tuto zemi?',
                        :class => 'btn btn-medium btn-danger' %>
          <%= link_to 'Editovat', edit_trip_path(trip), :class => 'btn btn-medium btn-info' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Nový let', new_trip_path, :class => 'btn btn-medium btn-primary' %>