<div class='nested-fields'>
  <div class="form-group">
    <%= f.label :name, content_tag(:b, 'Název Třídy'), :class => 'control-label' %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :plus_price, content_tag(:b, 'Plus cena'), :class => 'control-label' %>
    <%= f.text_field :plus_price, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :seats, content_tag(:b, 'Počet sedadel'), :class => 'control-label' %>
    <%= f.text_field :seats, :class => 'form-control' %>
  </div>

  <%= link_to_remove_association 'Odstranit třídu', f %>

</div>