<div class="col-md-6">
  <%= form_for(@airplane) do |airplane| %>

      <% if @airplane.errors.any? %>
          <div class="alert alert-danger">
            <h2>Uložení letadla se nezdařilo:</h2>

            <ul>
              <% @airplane.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= airplane.label :name, content_tag(:b, 'Název Letadla'), :class => 'control-label' %>
        <%= airplane.text_field :name, :class => 'form-control' %>
      </div>


      <h3>Třídy</h3>
      <div id='tasks'>
        <%= airplane.fields_for :airplane_classes do |classes| %>
            <%= render 'airplane_class_fields', :f => classes %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Přidat třídu', airplane, :airplane_classes %>
        </div>
      </div>

      <div class="form-group">
        <%= airplane.submit 'Odeslat', class: 'btn btn-medium btn-primary' %>
      </div>
  <% end %>
</div>