<div class="page-header">
  <h1>Seznam letadel</h1>
</div>

<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th>Název</th>
    <th>Počet tříd</th>
    <th>Počet sedadel</th>
    <th>Datum vytvoření</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @airplanes.each do |airplane| %>
      <tr>
        <td><%= link_to airplane.name, airplane %></td>
        <td><%= airplane.airplane_classes.count %></td>
        <td><%= airplane.count_seats %></td>
        <td><%= airplane.created_at %></td>
        <td><%= link_to 'Smazat', airplane_path(airplane), :method => :delete,
                        :confirm => 'Opravdu chcete smazat toto letiště?',
                        :class => 'btn btn-medium btn-danger' %>
          <%= link_to 'Editovat', edit_airplane_path(airplane), :class => 'btn btn-medium btn-info' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Nové letadlo', new_airplane_path, :class => 'btn btn-medium btn-primary' %>