<% provide(:title, "Letadlo #{@airplane.name}") %>
<div class="page-header">
  <h1>Letadlo <%= @airplane.name %></h1>
</div>

<b>Tabulka tříd</b>
<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th>Název třídy</th>
    <th>Počet sedadel</th>
    <th>Přídavná cena</th>
  </tr>
  </thead>
  <tbody>
  <% @airplane.airplane_classes.each do |classs| %>
      <tr>
        <td><%= classs.name %></td>
        <td><%= classs.seats%></td>
        <td><%= classs.plus_price %></td>
      </tr>
  <% end %>
  </tbody>
</table>