<div class="page-header">
  <h1>Seznam uživatelů</h1>
</div>

<div class="col-md-12">
  <table class="table table-hover table-striped">
    <thead>
        <tr>
          <th>Přihlašovací jméno</th>
          <th>Jméno</th>
          <th>Email</th>
          <th>Datum registrace</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.login, user %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.created_at %></td>
              <td><%= link_to 'Smazat', user_path(user), :method => :delete,
                              :confirm => 'Opravdu chcete smazat tohoto uživatele?',
                              :class => 'btn btn-medium btn-danger'%></td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>