<div class="page-header">
  <h1>Registrace nového uživatele</h1>
</div>

<%= provide(:title, ' - Registrace') %>

<style type="text/css">
    .append-required {
        color: indianred;
    }
</style>

<div class="col-md-6">
  <%= form_for(@user) do |sign_up| %>

      <% if @user.errors.any? %>
          <div class="alert alert-danger">
            <h2>Registrace se nezdařila:</h2>

            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= sign_up.label :login, content_tag(:b, 'Přihlašovací jméno'), :class => 'control-label' %>
        <div class="input-group input-append">
          <%= sign_up.text_field :login, :class => 'form-control' %>
          <span class="input-group-addon append-required">Povinné</span>
        </div>
      </div>

      <div class="form-group">
        <%= sign_up.label :email, content_tag(:b, 'Email'), :class => 'control-label' %>
        <div class="input-group input-append">
          <span class="input-group-addon"><i class="glyphicon glyphglyphicon glyphicon-envelope"></i></span>
          <%= sign_up.text_field :email, :class => 'form-control', :id => 'inputIcon' %>
          <span class="input-group-addon append-required">Povinné</span>
        </div>
      </div>

      <div class="form-group">
        <%= sign_up.label :email_confirmation, content_tag(:b, 'Potvrzení emailu'), :class => 'control-label' %>
        <div class="input-group input-append">
          <span class="input-group-addon">
            <i class="glyphicon glyphglyphicon glyphicon-envelope"></i></span>
          <%= sign_up.text_field :email_confirmation, :class => 'form-control', :id => 'inputIcon' %>
          <span class="input-group-addon append-required">Povinné</span>
        </div>
      </div>


      <div class="form-group">
        <%= sign_up.label :password, content_tag(:b, 'Heslo'), :class => 'control-label' %>
        <div class="input-group input-append">
          <span class="input-group-addon"><i class="glyphicon glyphglyphicon glyphicon-lock"></i></span>
          <%= sign_up.password_field :password, :class => 'form-control' %>
          <span class="input-group-addon append-required">Povinné</span>
        </div>
        <%= sign_up.label :password_confirmation, content_tag(:b, 'Potvrzení hesla'), :class => 'control-label' %>
        <div class="input-group input-append">
          <span class="input-group-addon"><i class="glyphicon glyphglyphicon glyphicon-lock"></i></span>
          <%= sign_up.password_field :password_confirmation, :class => 'form-control' %>
          <span class="input-group-addon append-required">Povinné</span>
        </div>
        <i>Heslo musí být dlouhé alespoň 6 znaků.</i>
      </div>


      <div class="form-group">
        <%= sign_up.label :name, content_tag(:b, 'Jméno'), :class => 'control-label' %>
        <div class="controls">
          <div class="input-group">
            <%= sign_up.text_field :name, :class => 'form-control' %>
          </div>
        </div>
      </div>


      <p>Kliknutím na tlačítko Vytvořit účet automaticky souhlasíte s <%= link_to 'podmínky služeb', terms_path %>.

      <div class="form-group">
        <%= sign_up.submit 'Vytvořit účet', class: 'btn btn-medium btn-primary' %>
      </div>
  <% end %>
  </div>