<div class="page-header">
  <h1><%= @user.login %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Přihlašovací jméno</dt>
  <dd><%= @user.login %></dd>
  <dt>Jméno</dt>
  <dd><%= @user.name %></dd>
  <dt>Email</dt>
  <dd><%= @user.email %></dd>
  <% if current_user.is_admin? %>
      <dt>Oprávnění</dt>
      <dd><%= current_user.level %></dd>
  <% end %>
</dl>
<%= link_to 'Upravit údaje', edit_user_path(@user)%>

<% if current_user.is_admin? %>
    <%= link_to 'Smazat', @user, :method => :delete, :confirm => 'Opravdu chcete smazat tohoto uživatele?',
                :class => 'btn btn-medium btn-danger' %>
<% end %>

<%= link_to 'Mé letenky (HTML)', my_tickets_path(format: :html), :class => 'btn btn-medium btn-info'  %>
<%= link_to 'Mé letenky (XML)', my_tickets_path(format: :xml), :class => 'btn btn-medium btn-info'  %>