<div class="col-md-6">
  <%= form_for(@state) do |state| %>

      <% if @state.errors.any? %>
          <div class="alert alert-danger">
            <h2>Uložení země se nezdařilo:</h2>

            <ul>
              <% @state.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= state.label :name, content_tag(:b, 'Název Země'), :class => 'control-label' %>
        <%= state.text_field :name, :class => 'form-control' %>
      </div>


      <div class="form-group">
        <%= state.submit 'Odeslat', class: 'btn btn-medium btn-primary' %>
      </div>
  <% end %>
</div>