<div class="page-header">
  <h1>Seznam Zemí</h1>
</div>

<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th>Název</th>
    <th>Datum vytvoření</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @states.each do |state| %>
      <tr>
        <td><%= link_to state.name, state %></td>
        <td><%= state.created_at %></td>
        <td><%= link_to 'Smazat', state_path(state), :method => :delete,
                        :confirm => 'Opravdu chcete smazat tuto zemi?',
                        :class => 'btn btn-medium btn-danger' %>
          <%= link_to 'Editovat', edit_state_path(state), :class => 'btn btn-medium btn-info' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Nová zem', new_state_path, :class => 'btn btn-medium btn-primary' %>