<div class="page-header">
  <h1><%= @state.name %></h1>
</div>


<b>Seznam letišt v této zemi</b>
  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th>Přihlašovací jméno</th>
      <th>Jméno</th>
      <th>Email</th>
      <th>Datum registrace</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @state.airports.each do |airport| %>
        <tr>
          <td><%= link_to airport.name, airport %></td>
          <td><%= airport.created_at %></td>
          <td><%= link_to 'Smazat', airplane_path(airport), :method => :delete,
                          :confirm => 'Opravdu chcete smazat toto letiště?',
                          :class => 'btn btn-medium btn-danger'%></td>
        </tr>
    <% end %>
    </tbody>
  </table>