<div class="col-md-6 well">
  <h2><small>Z</small> <%= ticket.trip.from.name %> <small>Do</small> <%= ticket.trip.to.name %></h2>
  <ul class="list-unstyled">
    <li>Odlet: <%= content_tag(:b,ticket.trip.departure.strftime('%e.%m.%Y %H:%M')) %> <%= ticket.trip.from.name %></li>
    <li>Přílet: <%= content_tag(:b,ticket.trip.arrival.strftime('%e.%m.%Y %H:%M')) %> <%= ticket.trip.to.name %></li>
    <li>Doba letu: <%= ticket.trip.duration %></li>
    <li>Letadlo: <%= ticket.trip.airplane.name %></li>
    <li>Třída: <%= ticket.airplane_class.name %></li>
    <li>Cena: <%= ticket.count_price %> Kč</li>
  </ul>
</div>