<div class="page-header">
  <h1>Chyba!</h1>
</div>

<% if @ticket.errors.any? %>
    <div class="alert alert-danger">
      <h2>Uložení letenky se nezdařilo:</h2>

      <ul>
        <% @ticket.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
