<div class="page-header">
  <h1>Letenka</h1>
</div>

<dl class="dl-horizontal">
  <dt>Číslo letenky</dt>
  <dd><%= @ticket.id %></dd>
  <dt>Číslo letu</dt>
  <dd><%= @ticket.trip.id %></dd>
  <dt>Jméno zákazníka</dt>
  <dd><%= @ticket.user.name %></dd>
  <dt>Odkud</dt>
  <dd><%= @ticket.trip.from.name %></dd>
  <dt>Kam</dt>
  <dd><%= @ticket.trip.to.name %></dd>
  <dt>Čas odletu</dt>
  <dd><%= @ticket.trip.departure %></dd>
  <dt>Čas příletu</dt>
  <dd><%= @ticket.trip.arrival %></dd>
  <dt>Třída</dt>
  <dd><%= @ticket.airplane_class.name %></dd>
  <dt>Číslo sedadla</dt>
  <dd></dd>
</dl>


