<div class="col-md-6">
  <%= form_for(@airport) do |airport| %>

      <% if @airport.errors.any? %>
          <div class="alert alert-danger">
            <h2>Uložení letiště se nezdařilo:</h2>

            <ul>
              <% @airport.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= airport.label :name, content_tag(:b, 'Název Letiště'), :class => 'control-label' %>
        <%= airport.text_field :name, :class => 'form-control' %>
      </div>

        <div class="form-group">
          <%= airport.label :state_id, content_tag(:b, 'Země'), :class => 'control-label' %>
          <%= collection_select(:airport, :state_id, State.all, :id, :name, {}, {:class => 'form-control'}) %>
        </div>
      
      <div class="form-group">
        <%= airport.submit 'Odeslat', class: 'btn btn-medium btn-primary' %>
      </div>
  <% end %>
</div>