<div class="page-header">
  <h1>Seznam letišt</h1>
</div>

<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th>Název</th>
    <th>Stát</th>
    <th>Datum vytvoření</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @airports.each do |airport| %>
      <tr>
        <td><%= link_to airport.name, airport %></td>
        <td><%= link_to airport.state.name, airport.state %></td>
        <td><%= airport.created_at %></td>
        <td><%= link_to 'Smazat', state_path(airport), :method => :delete,
                        :confirm => 'Opravdu chcete smazat toto letiště?',
                        :class => 'btn btn-medium btn-danger' %>
          <%= link_to 'Editovat', edit_airport_path(airport), :class => 'btn btn-medium btn-info' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Nové letiště', new_airport_path, :class => 'btn btn-medium btn-primary' %>