tickets {
    background-color:#2E2F30;
    width: 100%;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

ticket {
    background-color: #666666;
    width: 700px;
    height: 120px;
    margin: 0 auto;
    color: #F7F7F7;
    display: block;
}

flight {
    width: 100%;
    background-color: #999999;
    height: 25pt;
    display: block;
    text-align: center;
    font-size: 15pt;
}

from {
    font-size: 20pt;
    color: black;
}

to {
    font-size: 20pt;
    color: black;
}

departure {
    display: block;
    float: left;
}

arrival {
    display: block;
    float: right;
}

airplane {
    clear: both;
    display: block;
    margin: 0 auto;
    width: 200px;
}

class {
    clear: both;
    display: block;
    margin: 0 auto;
    width: 200px;
}

price {
    clear: both;
    display: block;
    margin: 0 auto;
    width: 200px;
}
