<div class="col-md-12 well">
  <%= form_tag(search_path, :method => 'get', id: 'search-form') do %>
      <div class="container-fluid">
        <div class="col-md-6">
          <div class="form-group">
            <%= label_tag :from_airport_id, content_tag(:b, 'Odkud'), :class => 'control-label' %>
            <%= grouped_collection_select(:search, :from_airport_id, State.all, :airports, :name, :id, :name, {}, {:class => 'form-control'}) %>
          </div>

          <div class="form-group">
            <%= label_tag :departure, content_tag(:b, 'Odlet'), :class => 'control-label' %>
            <div class='input-group date' id="datetimepicker1">
              <%= text_field_tag :departure, '', :class => 'form-control' %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= label_tag :to_airport_id, content_tag(:b, 'Kam'), :class => 'control-label' %>
            <%= grouped_collection_select(:search, :to_airport_id, State.all, :airports, :name, :id, :name, {}, {:class => 'form-control'}) %>
          </div>

        </div>
      </div>

      <div class="form-group">
        <%= submit_tag 'Hledat', class: 'btn btn-medium btn-primary' %>
      </div>

      <script type="text/javascript">
          $(function () {
              $('#datetimepicker1').datetimepicker({
                  language: 'cs'
                  //pickTime: false
              });
          });
      </script>
  <% end %>
</div>