<?xml version="1.0" encoding="UTF-8" ?>
<?xml-stylesheet type="text/css" href="/assets/xml.css"?>
<tickets>
    <% @tickets.each do |ticket| %>
    <ticket>
        <flight>
            Z
            <from><%= ticket.trip.from.name %></from>
            Do
            <to><%= ticket.trip.to.name %></to>
        </flight>
        <departure>Odlet: <%= ticket.trip.departure.strftime('%e.%m.%Y %H:%M') %></departure>
        <arrival>Přílet: <%= ticket.trip.arrival.strftime('%e.%m.%Y %H:%M') %></arrival>
        <airplane><%= ticket.trip.airplane.name %></airplane>
        <class>Třída: <%= ticket.airplane_class.name %></class>
        <price>Cena: <%= ticket.count_price %> Kč</price>
    </ticket>
    <% end %>
</tickets>