<% provide(:title, ' - Přihlášení') %>

<div class="col-md-4 col-md-offset-4">
  <% if @user_session.errors.any? %>
      <div class="alert alert-danger">
        <h2>Přihlášení se nezdařilo</h2>
        <ul>
          <% @user_session.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%= form_for(@user_session, :html => {:class => 'well'}) do |login| %>
      <div class="form-group">
        <%= login.label :login, 'Uživatelské jméno', :class => 'control-label' %>
          <%= login.text_field :login, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= login.label :password, 'Heslo', :class => 'control-label' %>
        <div class="input-group">
          <div class="input-group-addon"><i class="glyphicon glyphglyphicon glyphicon-lock"></i></div>
          <%= login.password_field :password, :class => 'form-control', :id => 'inputIcon' %>
        </div>
      </div>

      <div class="form-group">
        <%= login.submit 'Přihlásit se', :class => 'btn btn-medium btn-primary' %><%= link_to 'Registrace', new_user_path, :style => 'margin-left: 10px' %>
      </div>
  <% end %>
</div>