<noscript>
  <div class="alert alert-block alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Javascript je vypnutý!</h4>
    Bez Javascriptu L-ternative nebude fungovat správně, prosím povolte ho ve svém prohlížeči.
  </div>
</noscript>

<% if notice %>
    <div class="alert alert-block alert-info">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <h4 class="alert-heading">Upozornění</h4>
      <%= notice %>
    </div>
<% end %>

<% if alert %>
    <div class="alert alert-block alert-error">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <h4 class="alert-heading">Chyba</h4>
      <%= alert %>
    </div>
<% end %>