<div class="container-fluid" style="margin-top: 4em;">
  <div class="col-md-12">
    <p>@2014 Super Letenky inc.</p>
    <%= link_to 'FAQ', faq_path %> | <%= link_to 'Kontakty', contacts_path %>
  </div>
</div>