<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-bar"></span>
        <span class="glyphicon glyphicon-bar"></span>
      </button>
      <%= link_to 'Letenky', root_path, :class => 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><%= link_to('FAQ', faq_path) %></li>
        <li ><%= link_to('Kontaky', contacts_path) %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <% if current_user.is_admin? %>
                <li><%= link_to('Administrace', panel_path) %></li>
            <% end %>
            <li><%= link_to(current_user.login, user_path(current_user))%></li>
            <li><%= link_to('Odhlášení', logout_path) %></li>
        <% else %>
            <li><%= link_to('Registrace', new_user_path) %></li>
            <li><%= link_to('Přihlášení', login_path) %></li>
        <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>