<!DOCTYPE html>
<html>
<head>
  <title>Letenky administrace <%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => 'layouts/navbar_admin' %>

<div class="container-fluid" style="margin-top: 6em;">
  <%= render :partial => 'layouts/flash' %>
  <div class="col-md-2 well">
    <ul class="nav nav-list">
      <li class="nav-header">
        <b>Letiště</b>
      </li>
      <li>
        <%= link_to content_tag(:i, ' ', :class => 'glyphicon glyphicon-home') + ' Seznam', airports_path %>
      </li>
      <li>
        <%= link_to content_tag(:i, ' ', :class => 'glyphicon glyphicon-plus') + ' Nové letiště', new_airport_path%>
      </li>
      <li class="nav-header">
        <b>Země</b>
      </li>
      <li>
        <%= link_to content_tag(:i, ' ', :class => 'glyphicon glyphicon-globe') + ' Seznam', states_path %>
      </li>
      <li>
        <%= link_to content_tag(:i, ' ', :class => 'glyphicon glyphicon-plus') + ' Nová země', new_state_path %>
      </li>
      <li class="nav-header">
        <b>Letadla</b>
      </li>
      <li>
        <%= link_to content_tag(:i, ' ', :class => 'glyphicon glyphicon-plane') + ' Seznam', airplanes_path %>
      </li>
      <li>
        <%= link_to content_tag(:i, ' ', :class => 'glyphicon glyphicon-plus') + ' Nové letadlo', new_airplane_path%>
      </li>
      <li class="nav-header">
        <b>Lety</b>
      </li>
      <li>
        <%= link_to content_tag(:i, ' ', :class => 'glyphicon glyphicon-share-alt') + ' Seznam', trips_path %>
      </li>
      <li>
        <%= link_to content_tag(:i, ' ', :class => 'glyphicon glyphicon-plus') + ' Nový let', new_trip_path%>
      </li>
      <li class="nav-header">
        <b>Uživatelé</b>
      </li>
      <li>
        <%= link_to content_tag(:i, ' ', :class => 'glyphicon glyphicon-user') + ' Seznam', users_path %>
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    <%= yield %>
  </div>
</div>

<%= render :partial => 'layouts/footer' %>

</body>
</html>
