<!DOCTYPE html>
<html>
<head>
  <title>Letenky! <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => 'layouts/navbar_normal' %>

<div class="container-fluid" style="margin-top: 6em;">
  <%= render :partial => 'layouts/flash' %>
  <div class="col-md-12">
    <%= yield %>
  </div>
</div>

<%= render :partial => 'layouts/footer' %>

</body>
</html>
